.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
  align-content: center;
}

@media screen and (max-width: 1080px) {
  .container {
    max-width: 90%;
    height: auto;
  }

  .container section {
    max-width: 80%;
    grid-template-columns: 1fr;
    gap: 3.5rem;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    max-width: 95%;
  }

  .container section {
    max-width: 95%;
    margin: 0 auto;
  }
}